.ExercisePage {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.exercise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.exercise-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.exercise-thumbnail {
    width: 100%;
    /* Ensures image takes full width of the container */
    height: auto;
    /* Maintains aspect ratio */
    border-radius: 8px;
}

.exercise-item h3 {
    color: #333;
}

.exercise-item p {
    font-size: 14px;
    color: #666;
}

.exercise-item a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}